@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+VN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.navbar{
    height: 5rem;
    width: 100%;
    font-family: 'Poppins';
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.links{
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.links p{
    font-weight: 600;
}
.btns{
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: space-around;
}
.btns button{
    background-color: rgb(77, 35, 231);
    color: white;
    border-radius: 12px;
    width: 44%;
    padding: 13px;
    border: none;
}
.ul{
    list-style: none;
}